<div>

    <agm-map [latitude]="lat" [longitude]="lng"
  [zoom]="zoom">
  
    <ng-container *ngFor="let covid of user$">
      <agm-marker 
      *ngIf="covid.confirmed > 0"
      [latitude]="covid.location.lat" 
      [longitude]="covid.location.lng"
      [iconUrl]="icon"
      (markerClick) = "markerClick(infoWindow)">
  
        <agm-info-window #infoWindow>
  
          <strong>{{covid.countryregion}} {{covid.provincestate}}</strong>
          <p>Confirmados: {{covid.confirmed}}</p>
          <p>Muertos: {{covid.deaths}}</p>
          <p>Recuperdados: {{covid.recovered}}</p>
          
        </agm-info-window>
  
      </agm-marker>
  
      <agm-marker
      [latitude]="lat" 
      [longitude]="lng"
      [iconUrl]="me"
      [title]="'Aqui es donde estas'">
  
      </agm-marker>
  
    </ng-container>
  </agm-map>
  
  </div>

  <div class="formGroup">
    <button type="button" (click)="onCLickLogOut()">
      Log out with Google
    </button>
  </div>
